@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

body {
   font-family: 'Jura', sans-serif;
   min-width: 300px;
}

._720kb-datepicker-calendar-years-pagination {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  clear: both;
}

._720kb-datepicker-calendar-years-pagination a {
  width: 40px;
}

._720kb-datepicker-calendar-header {
  display: flex;
  flex-direction: column;
}

._720kb-datepicker-default-button {
  margin: 0 50px 0 50px;
}

#datepicker {
 display: inline-block;
 width: 400px;
 height: 200px;
}

._720kb-datepicker-calendar{
  transition: 0.5s ease;
  border-radius: 10px;
}

._720kb-datepicker-calendar-days-header {
  display: flex;
}

._720kb-datepicker-calendar-header {
  display: flex;
  padding-bottom: 20px;
  border-radius: 10px 10px 0 0;
}

._720kb-datepicker-calendar-body a {
  display: inline-block;
  width: 14%;
}

#meter_container2 h1 {
  font-family: 'Cabin Sketch', cursive;
}
.twitter {
  display: none;
}
.oftheday {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  background-image: url(images/oftheday.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  overflow: scroll;
}
.oftheday p {
  background-color: rgba(0,0,0, 0.5);
}
.search div {
  width: 100%;
  background-color: rgba(255,255,255, 0.1);
}
.asteroid {
  background-color: rgba(0,0,0, 0.5);
  margin-bottom: 10px;
}
#meter_container {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background-color: black;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #85B2AA;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  align-items: center;
}
a {
  color: #000000;
  text-decoration: none;
  font-weight: bolder;
  transition: 0.5s ease;
}
a:hover {
  color: grey;
  transition: 0.5s ease;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 10px;
  text-align: center;
}
.incom {
  background-image: url(images/incoming.jpeg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  overflow: scroll;
  padding: 10px 0 10px 0;
  margin: 0 auto;
  width: 100%;
  color: white;
  text-align: center;
}
.search {
  background-image: url(images/starry.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  overflow: scroll;
}
.risk {
  width: 3.5%;
  height: 96%;
}
button, input {
  width: 80%;
  height: 30px;
  border: none;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}
button {
  border-radius: 15px;
  background-color: white;
  margin-top: 20px;
}
#meter_container {
  display: flex;
  align-items: center;
}
#one {
  background-color: #32FC90;
  margin-left: 1px;
}
#one1 {
  background-color: #32FC79;
}
#one2 {
  background-color: #32FC6B;
}
#two {
  background-color: #32FC54;
}
#two1 {
  background-color: #32FC46;
}
#two2 {
  background-color: #4AFC32;
}
#three {
  background-color: #75FC32;
}
#three1 {
  background-color: #83FC32;
}
#three2 {
  background-color: #9AFC32;
}
#four {
  background-color: #B2FC32;
}
#four1 {
  background-color: #CDFC32;
}
#four2 {
  background-color: #E1FC32;
}
#five {
  background-color: #EFF931;
}
#five1 {
  background-color: #F9EC31;
}
#five2 {
  background-color: #FCDA32;
}
#six {
  background-color: #FCC332;
}
#six1 {
  background-color: #F76231;
}
#six2 {
  background-color: #F74F31;
}
#seven {
  background-color: #F74B31;
}
#seven1 {
  background-color: #F44130;
}
#seven2 {
  background-color: #F74131;
}
#eight {
  background-color: #F43030;
}
#eight1 {
  background-color: #F73148;
}
#eight2 {
  background-color: #F93153;
}
#nine {
  background-color: #F93167;
}
#nine1 {
  background-color: #F93174;
}
#nine2 {
  background-color: #FC3286;
}
#ten {
  background-color: #FC329E;
}
#ten1 {
  background-color: #FC32BF;
}
#ten2 {
  background-color: #FC32CD;
  margin-right: 1px;
}

@media only screen and (min-width: 700px){
  #meter_container {
    height: 30px;
    width: 150px;
  }
  #meter_container2 {
    position: absolute;
    right: 3px;;
    top: 70px;
    width: 25%;
  }
  .twitter {
    display: inline-block;
    width: 25%;
    float: right;
    height: 74vh;
    margin-top: 150px;
    overflow: scroll;
  }
  .oftheday {
    height: 100vh;
    margin: 0;
    width: 75%;
  }
  .search {
    height: 100vh;
    margin: 0;
    width: 75%;
  }
  .incom {
    height: 100vh;
    margin: 0;
    width: 75%;
  }

h1 {
  font-size: 20px;
}
h3 {
  font-size: 25px;
}
}
@media only screen and (min-width: 1200px){
  #meter_container {
    width: 320px;
    height: 50px;
  }
  #meter_container2 {
    top: 80px;
  }
  nav {
    height: 70px;
    font-size: 20px;
    justify-content: flex-end;
  }
  nav a {
    margin-right: 40px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 40px;
  }
  .asteroid {
    font-size: 20px;
  }
  .oftheday p {
    font-size: 20px;
  }
  .twitter {
    margin-top: 175px;
  }
}
