@media only screen and (min-width: 600px) {

.oftheday {
  width: 73%;
  margin: 0 0 0 5px;
}

  .twitter {
    display: block;
    width: 25%;
    height: 100%;
  }
  .asteroid{
    width: 50%;
  }
  .search{
    width: 75%;
    height: 100%;

    z-index: -1;
  }
  input, button, select{
    margin: 10px;
    border-radius: 15px;
    height: 30px;
    width: 50%;
  }
  nav {
    background-size: cover;
    background-image: url(images/navtablet.jpg);
    height: 45px;
    min-width: 600px;
  }
}
h3 {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  margin-top: 60px;
  font-size: 30px;
}
